<link rel="stylesheet" href="styles/style.css">
<div class="content" id="body">
    <div class="contcharact" [routerLink]="['/characters']">
        <img src="https://images8.alphacoders.com/415/thumbbig-415993.webp" alt="">
        <h2>Personajes</h2>
    </div>
    <div class="contcomic" [routerLink]="['/comics']">
        <img src="https://images7.alphacoders.com/983/thumbbig-983028.webp" alt="">
        <h2>Comics</h2>
    </div>
    <div class="contserie" [routerLink]="['/series']">
        <img src="https://images6.alphacoders.com/902/thumbbig-902152.webp" alt="">
        <h2>Series</h2>
    </div>


</div>



